h2 {
    position: relative;
    text-align: center;
    align-items: center;
    font-size: 35px;
    font-family: Helvetica;
    border-style: solid;
    width: 90%;
    left: 4.6%;
    background-color: lightgrey;
}
.lower {
    text-align: center;
}

.contacts {
    list-style-type: none;
    display: inline-block;
    width: 90%;
    position: relative;
    left: -1.5%;
}
.contacts li {
    display: inline-block;
    position: relative;
    width: 45%;   
    margin-left: 1%;
    margin-right: 1%;
    padding: 0%;
    padding-bottom: 1%;
}
.contacts .Contact{
    display: inline-block;
    vertical-align: top;
    vertical-align: bottom;
    position: relative; 
    border-style: solid;
    border-color: black;    
    padding: 1.5%;
    text-decoration: none;  
}

.images {
    max-width: 20%;
    min-height: 80%;
    position: relative;
    z-index: 100;
    float: left;

}
h3 {
    color: black;
    text-decoration: none;
    font-family: Helvetica;
    margin: 0%;
    font-size: 35px;
    padding-top: 6%;
    word-break: break-all;
}
h4 {
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    font-size:x-large;
    padding-top: 1.6%;
    word-break: break-all;
}
h5 {
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    font-size:x-large;
    padding-top: 4%;
    word-break: break-all;
}