body {
    background-color: #338173;
  }
  h1 {
    color: black;
    font-family: Helvetica;
    text-align: center;
  }
  p {
    color: red;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

  .topleft {
    position: absolute;
    display: block;
    top:10px;
  }

  .ribbon-button{
    background-color: rgb(158, 158, 158);
    width: 80px;
    text-align: right;

  }

  .selectedpage {background-color: #333333;}

  .icon {
    position:absolute;
    left: 5px;
  }